.md-footer-meta__inner {
  justify-content: space-between;
  align-items: center;
}
.md-copyright,
.md-footer-copyright,
.md-footer-byline {
  flex: 1;
}
.md-footer-copyright {
  text-align: center;
  color: var(--md-footer-fg-color--light);
}
.md-footer-byline {
  text-align: right;
}
.md-footer-byline a {
  color: var(--md-footer-fg-color--light);
  text-decoration: none;
}
.md-footer-byline a:hover {
  text-decoration: underline;
}

[data-md-color-primary="custom"] {
  --md-primary-fg-color:        #228B22;
  --md-primary-fg-color--light: #2EAD2E;
  --md-primary-fg-color--dark:  #1A6B1A;
  --md-primary-bg-color:        #fff;
  --md-primary-bg-color--light: #ffffffb3;
}
